In [10]:
#Importing nesessary libraries
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [11]:
data = pd.read_csv("C:/Users/asus/Desktop/Movie Recommend/dataset.csv")
data.head(10)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
5,667257,Impossible Things,"Family,Drama",es,"Matilde is a woman who, after the death of her...",14.358,2021-06-17,8.6,255
6,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093
7,730154,Your Eyes Tell,"Romance,Drama",ja,"A tragic accident lead to Kaori's blindness, b...",51.345,2020-10-23,8.5,339
8,372754,Dou kyu sei – Classmates,"Romance,Animation",ja,"Rihito Sajo, an honor student with a perfect s...",14.285,2016-02-20,8.5,239
9,372058,Your Name.,"Romance,Animation,Drama",ja,High schoolers Mitsuha and Taki are complete s...,158.270,2016-08-26,8.5,8895

In [12]:
#Dataset's size
data.shape

(10000, 9)


## Content based recommendation

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [14]:
#Filling missing values on genre and overview columns
data['genre'].fillna('[]', inplace=True)
data['overview'].fillna('[]', inplace=True)

In [17]:
#Merging genre and overview columns to one column
data['description'] = data['genre'] + data['overview']
data['description'].fillna("")

0       Drama,CrimeFramed in the 1940s for the double ...
1       Comedy,Drama,RomanceRaj is a rich, carefree, h...
2       Drama,CrimeSpanning the years 1945 to 1955, a ...
3       Drama,History,WarThe true story of how busines...
4       Drama,CrimeIn the continuing saga of the Corle...
                              ...
9995    Action,Adventure,FantasyThe story follows the ...
9996    Action,TV Movie,Science Fiction,Comedy,Adventu...
9997    Action,Science Fiction,WarDuring World War II,...
9998    Adventure,Fantasy,Action,DramaA man named Farm...
9999    Thriller,Action,CrimeSeeking justice for his p...
Name: description, Length: 10000, dtype: object

In [18]:
new_data = data[['id', 'title', 'description']]
new_data.head(10)

,id,title,description
0,278,The Shawshank Redemption,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,"Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,"Drama,CrimeIn the continuing saga of the Corle..."
5,667257,Impossible Things,"Family,DramaMatilde is a woman who, after the ..."
6,129,Spirited Away,"Animation,Family,FantasyA young girl, Chihiro,..."
7,730154,Your Eyes Tell,"Romance,DramaA tragic accident lead to Kaori's..."
8,372754,Dou kyu sei – Classmates,"Romance,AnimationRihito Sajo, an honor student..."
9,372058,Your Name.,"Romance,Animation,DramaHigh schoolers Mitsuha ..."

In [19]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10000 non-null  int64
 1   title        10000 non-null  object
 2   description  10000 non-null  object
dtypes: int64(1), object(2)
memory usage: 234.5+ KB

In [24]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0.00000001, stop_words='english')
tfidf_matrix = tf.fit_transform(new_data['description'])

In [25]:
similarity = cosine_similarity(tfidf_matrix)
similarity

array([[1.        , 0.00431058, 0.00284911, ..., 0.01609597, 0.00991134,
        0.00532715],
       [0.00431058, 1.        , 0.00433858, ..., 0.        , 0.        ,
        0.        ],
       [0.00284911, 0.00433858, 1.        , ..., 0.00401159, 0.0052884 ,
        0.        ],
       ...,
       [0.01609597, 0.        , 0.00401159, ..., 1.        , 0.00190413,
        0.00169654],
       [0.00991134, 0.        , 0.0052884 , ..., 0.00190413, 1.        ,
        0.00253987],
       [0.00532715, 0.        , 0.        , ..., 0.00169654, 0.00253987,
        1.        ]])

In [29]:
print(similarity.shape)

(10000, 10000)

In [31]:
print(new_data[new_data['title'] == 'The Godfather'].index[0])

2

In [32]:
new_data = new_data.reset_index()
titles = new_data['title']
indices = pd.Series(new_data.index, index = new_data['title'])
print(indices)

title
The Shawshank Redemption                            0
Dilwale Dulhania Le Jayenge                         1
The Godfather                                       2
Schindler's List                                    3
The Godfather: Part II                              4
                                                 ...
The Last Airbender                               9995
Sharknado 3: Oh Hell No!                         9996
Captain America                                  9997
In the Name of the King: A Dungeon Siege Tale    9998
Domino                                           9999
Length: 10000, dtype: int64

In [35]:
def get_recommendations(title):
    # Convert the input title to lowercase
    title_lower = title.lower()

    # Check if the lowercase title exists in the indices dictionary
    if title_lower not in indices:
        # If not found, check for a partial match
        matches = [movie_title for movie_title in indices.keys() if title_lower in movie_title.lower()]

        if not matches:
            return "Movie not found. Please check your input."

        # Use the first partial match found
        title_lower = matches[0]

    # Get the index for the lowercase title
    idx = indices[title_lower]

    # Retrieve similarity scores for the lowercase title
    sim_scores = list(enumerate(similarity[idx]))

    # Sort the similarity scores in descending order
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Extract the top 30 movie indices
    sim_scores = sim_scores[0:31]
    movie_indices = [i[0] for i in sim_scores]

    # Return the movie titles corresponding to the indices
    return titles.iloc[movie_indices]

In [36]:
get_recommendations('godfather')

2                                           The Godfather
4                                  The Godfather: Part II
9362                                           Proud Mary
7419                                           Blood Ties
1611                              The Godfather: Part III
9520                                                Gotti
5502                                        Summer of Sam
1388    Berserk: The Golden Age Arc II - The Battle fo...
7286                                            Show Dogs
8987                                    Playing for Keeps
1842                                        Loose Cannons
3321                                              8 Women
547                                               Warrior
1428                                          Uncle Frank
7360                                The Amityville Horror
5331                            The Many Saints of Newark
8570                                             3 Ninjas
9825                                            Bar Sport
6028                                        Run All Night
9203                                         Royal Palace
5355                                         Halloween II
949                                          The Irishman
5323                                          Renaissance
5361                                                  Joe
2977                                       The Connection
2307                          Songs from the Second Floor
1816                                    Road to Perdition
409                                                 Ordet
3849                                           Moonstruck
8088                                              Thinner
194                            Michael Jackson's Thriller
Name: title, dtype: object

In [37]:
import pickle

In [38]:
pickle.dump(new_data, open('movies.list.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))